<div id='container'>
  <h1>Shorten Link</h1>
    <nav class = 'navigation'>
      <ul>
        <li><a href="#/links">Links</a></li>
        <li><a ng-click='signout()'>Sign Out<a></li>
      </ul>
    </nav>
  <form name="linkForm" ng-submit='addLink()' novalidate>
    <input name='link' type='url' ng-model='link.url' placeholder="http://" ng-class="{'error': linkForm.$invalid && linkForm.$dirty}"required>
    <button ng-disabled='linkForm.$invalid'>Shorten Link</button>
  </form>
  <div ng-if='linkFrom.link.$error.required && linkForm.$dirty' class='message'>
    <h2> URL Required </h2>
  </div>
  <div ng-show='linkFrom.link.$error.url && linkForm.$dirty'>
    <h2> not a valid URL </h2>
  </div>
</div>


